fastapi
uvicorn[standard]
pydantic
supabase
aiohttp     
openai 
python-multipart 
pypdf 
numpy
langchain 
langchain-openai 
langchain-groq 
langchain_ollama
langchain_community 
python-dotenv 
bs4
langchain_chroma
langchain_huggingface
sentence-transformers
faiss-cpu
pypdf